<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="overflow-x-hidden">
    <nav class="w-full h-12 bg-slate-900 fixed z-10" data-bs-theme="">
    <div class="w-2/4 h-full flex justify-evenly items-center">
       <a class="text-white" href="/">Home</a>
       <a class="text-white" href="/read">Read</a>
       <a class="text-white" href="/create">Create</a>
       <a class="text-white" href="/update">Update</a>
    </div>
    </nav>
    <div class="w-screen min-h-screen bg-slate-400 absolute top-12">
        <p>shree radha</p>
        
    </div>
</body>
</html>